.posts-page-main-container{
  text-align: center;
}

.post-page-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
} 

.new-post-btn {
  background-color: #254fe9;
  width: 100px;
  align-self: center;
  margin-top: 10px;
  border: unset;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  color: rgb(160, 177, 205);
    &:hover{
      box-shadow: 0px 0px 5px 0px rgb(112, 112, 179);
      color: white;
      background-color: #415fe8;  
    }
} 

.posts-input-form {
  display: flex;
  background-color: aliceblue;
  max-width: 350px;
  border-radius: 5px;
  height: 50px; 
  margin: auto auto 5px auto;
  align-items: center;
  padding: 0px 5px 0px 8px;
  min-width: 250px;
  background-color: rgb(35, 35, 46);
}

.posts-input {
  border: unset;
  background-color: rgb(35, 35, 46);
  border-radius: 5px;
  height: 40px;
  width: 310px;
  min-width: 200px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  border: none;
  outline: none;
}

.posts-page-top-container {
  padding: 5px;
  margin-top: 10px;
  margin-right: 5vw;
}

#trash-button {
  background-color: transparent;
  border: none;
  color: rgb(126, 91, 91);
  scale: 110%;
   &:hover{
    color: rgb(170, 50, 50);
   }
}
